@media (min-width: 1200px) {

}

.body {
	font-family: 'Quicksand', sans-serif;
}

.container {
	max-width: 800px;
	margin:auto;
}

.header {
	max-width: 800px;
	text-align: center;
}

.content {
	max-width: 800px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.main-nav {
	border-bottom: 1px dotted #666;
	border-width: 1px 0;
	text-align: center;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nav-list {
	padding: 0px;
}

.main-nav li {
	display: inline-block;
}

.main-nav a {
	display: inline-block;
	padding: 10px;
	color: #000;
	text-decoration: underline;
}

.main-nav a:hover {
	color: #666;
}

.section {
	display: block;
	text-align: center;
	width: 290px;
	padding: 0 0 10px 0;
}

.section p {
	width: inherit;
}

.double-section {
	display: block;
	text-align: center;
	width: 580px;
	padding: 0 0 10px 0;
}

.cube {
	padding: 10px;
}

.wrapper {
	height: 250px;
	width: 250px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.double-wrapper {
	height: 200px;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.block {
	height: 250px;
	width: 250px;
	background: #ccc;
	background-position: center center;
	background-size: cover;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	animation: fadeOut .5s both;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.double-block {
	height: 200px;
	width: 540px;
	background: #ccc;
	background-position: center center;
	background-size: cover;
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #ccc;
	animation: fadeOut .5s both;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}

.double-block:hover {
	animation: fadeIn .5s both;
}

.block:hover {
	animation: fadeIn .5s both;
}

@keyframes fadeIn {
	0% {
		opacity: .75;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: .75;
	}
}

.art-block {
	background-image: url("assets/art and illustration/art tile image.png");
}

.design-block {
	background-image: url("assets/ui/design tile image.png");
}

.personal-block {
	background-image: url("assets/personal/comic.png");
}

.games-block {
	background-image: url("assets/games/games tile image.jpg");
}

.destiny-block {
	background-image: url("assets/ui/vv logo.jpg");
}

.hab-block {
	background-image: url("assets/ui/hab tile.png");
}

.ui-block {
	background-image: url("assets/ui crop.png");
}

.sideprj-block {
	background-image: url("assets/visions crop.png");
}

.itchio-block {
	background-image: url("assets/games/itchio.png")
}

.twine1-block {
	background-image: url("assets/games/twine.png");
}

.twine2-block {
	background-image: url("assets/games/melt.png");
}

.lark-block {
	background-image: url("assets/games/lark.png");
}

.tales-block {
	background-image: url("assets/games/scene2.png");
}

.square {
	height: 10px;
	width: 10px;
	background: #62bdc5;
}

.section-header {
	display: block;
	text-align: center;
	width: 540px;
	text-decoration:overline;
	margin: 0 0 10px 0;
	/*border: 1px dotted black;*/
}

.list-item {
	width: 50px;
	text-align: center;
}

.content {
	padding: 25px;
}

.footer {
	border-top: 1px dotted #666;
	border-width: 1px 0;
	text-align: center;
	padding: 20px;
}

.footer p {
	padding: 15x;
	font-size: 10px;
}

.text a{
	color: #666;
	text-decoration: underline;
	text-align: center;
}

.pic {
	padding: 25px;
}

.text img {
	padding: 25px;
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.text .sprites {
	width: 12%;
}

.text .sml-img {
	width: 25%;
}

.text .med-img {
	width: 50%;
}

@media only screen and (max-width: 600px) {
	.double-block {
		height: 250px;
		width: 250px;
		background: #ccc;
		background-position: center center;
		background-size: cover;
		border-radius: 5px 5px 5px 5px;
		border: 1px solid #ccc;
		animation: fadeOut .5s both;
		box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
	}
	.double-wrapper {
		height: 250px;
		width: 250px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	.double-section {
		display: block;
		text-align: center;
		width: 290px;
	}
	.destiny-block {
		background-image: url("assets/ui/vv logo.jpg");
	}

	.hab-block {
		background-image: url("assets/tagnobel crop.png");
	}

	.twine1-block {
		background-image: url("assets/games/twine.png");
	}

	.twine2-block {
		background-image: url("assets/games/melt.png");
	}

	.itchio-block {
		background-image: url("assets/games/itchio.png")
	}
}
